
:root {
    --primary-color:#84CEEB;
    --secondary-color: #5CDB95;
    --tertrity-color: #FFE400;
}

.navbar {
    background-image: linear-gradient(90deg, #05c5bb,#aceff8 );
}

.about {
    
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: white;
    padding-top: 40px;
   
    background-image: linear-gradient(90deg, #05c5bb,#aceff8 );

}


.aboutText {
    margin: 0 auto;
    width: 60%;
}

.textContent {
    margin:auto;
}



.aboutImg {
    
    display: inline-block;
    justify-content: center;
    width: 60%;
    margin-top: 30px;
    text-align: center;
}
.aboutImg img {
    justify-self: flex-end;
    border-radius: 5px;
    margin: 10px 10px;
    width: 300px;
}





@media (max-width: 500px) { 


    .aboutImg img {
        margin: 10px 0px;
       width: 100%;
    }
    
    
}