.navbar {
    background-color: rebeccapurple;
}

.oppurtunities {
    text-align: center;
    color: white;
    padding: 40px 0px;
    margin: auto;
    height: 300px;
    background-color: rebeccapurple;

}

.textContent {
    margin:auto;
}

.oppurtunities img {
    justify-self: flex-end;
    border-radius: 20px;
    margin: 20px 0px;
    width: 300px;
}






.dataSet {
    padding: 40px;
    justify-content: center;
}

.data-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.data-container .head {
    font-weight: bold;
    margin-bottom:  10px;
    font-size: 24px;
}

@media (max-width: 800px) {

    .grid  {
        display: block;

    }
    
.oppurtunities{
    display: block;
    height: 300px;
    background-color: rebeccapurple;
    height: 100%;

}

.oppurtunities p {
    font-size: 18px;
}

.oppurtunities img {
  width: 80%;
}


.data-container .head {
    font-size: 14px;
   
}


.dataSet {
    padding: 10px;
}

.data-container {
    padding: 10px;
}


}




@media (max-width: 500px) {

  

.oppurtunities p {
    font-size: 14px;
}

.oppurtunities img {
  width: 100%;
}


.dataSet {
    padding: 5px;
}


}

