@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color:#4056A1;
    --secondary-color: #5CDB95;
    --tertrity-color: #FFE400;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: lato;
}


ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: #333;
}
 h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0px 0px;
}

p {
    margin: 10px 0px;

}




.navbar {
    background-color: var(--primary-color);
    color: white;
    height: 58px;


}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar h1 {
   color: var(--tertrity-color);
    margin-left: -30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding:10px;
    margin: 0px 5px;
}



.navbar a:hover {
    color: var(--tertrity-color);
    border-bottom: 2px var(--tertrity-color) solid;

}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;

}

/* Page Text */

.page-items .btn {
    align-content: center;
    border: 1px solid var(--tertrity-color);
    background-color: transparent;
    color: var(--tertrity-color);
    font-size: 28px;
    transition: 1.0s;

}

.page-items .btn:hover {
    transform: scale(0.8);
    transition: 0.2s;

}


/*  Form  */

.showcase {
    padding-top: 60px;
    color:white;
    height: 400px;
    background-color: var(--primary-color) ;
    position: relative;
}


.showcase::after {
    content: '';
    position: absolute;
    height: 80px;
    bottom: -60px;
    right: 0;
    left: 0;
    background-color: var(--tertrity-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    
}

.showcase::before {
    content: '';
    position: absolute;
    height: 80px;
    bottom: -60px;
    right: 0;
    left: 0;
    background-color: var(--secondary-color);
    transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
}

.showcase h1 {
   
    font-size: 40px;

}

.showcase p {
    margin: 30px 0px;
}


.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
  
}




.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    justify-content: center;
    height: 100%;

}



.page-form {
    position: relative;
 
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    padding: 40px;
    margin: 10px;
    height: 340px;
    z-index: 100;
    justify-self: flex-end;
}

.page-form h2 {
    color: var(--primary-color);
}


.page-form .form {
    margin: 30px 0px;
}

.page-form input[type='email'],
.page-form input[type='text'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 8px;
    font-size: 20px;

}


.page-form input:focus {
    outline: none;
}

.page-form .btn {
    font-size: 14px;
   border-radius: 5px;
   width: 100px;
    display: inline-block;
  
   
}




.stats {
  
    padding-top: 50px;

    text-align: center;
    
}




.grid-2 {
    display: grid;
    margin: 50px 0;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    
}


.grid-2 h3 {
    width: 340px;
    font-size: 26px;
    font-weight: bold;
}




.main::after {
    content: '';
     position: absolute;
     height: 80px;
     right: 0;
     left: 0;
     background-color: var(--primary-color);
     transform: skewY(3deg);
     -webkit-transform: skewY(3deg);
     -moz-transform: skewY(3deg);
     -ms-transform: skewY(3deg);

     
 
 }
.main::before {
   content: '';
    position: absolute;
    height: 80px;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    z-index: 1;
    

}

